<div class="panel panel-default" *ngFor="let petCollection of petCollections">
    <div class="panel-heading">
        <h4>{{petCollection.gender}} <small>owner's pets</small></h4>
    </div>
    <table class="table panel-body">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pet of petCollection.pets">
                <td>{{pet.name}}</td>
                <td>{{pet.type}}</td>
            </tr>
        </tbody>
    </table>
</div>